<div class="hero-unit">
	<h1>Welcome to OM Rails</h1>
	<p>
		This is the homepage for the
		<%= link_to "OM Rails", "#" %> thing.
	</p>
	<p><%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</div>